<style type="text/css">

#banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 560;
	height: 80;
}

#title {
	position: absolute;
	top: 104;
	left: 60;
	width: 230;
	height: 47;
}

#explain {
	position: absolute;
	top: 147;
	left: 60;
	width: 216;
	height: 59;
}

#password {
	position: absolute;
	top: 147;
	left: 313;
	width: 209;
	height: 55;
}

#dontUnlockButton {
	position: absolute;
	top: 373;
	left: 242;
	width: 155;
	height: 35;
}

#continuebutton {
	position: absolute;
	top: 373;
	left: 408;
	width: 130;
	height: 35;
}

</style>