#banner {
	position: absolute;
	top: 0;
	left: 1;
	width: 560;
	height: 80;
}

#donebutton {
	position: absolute;
	top: 371;
	left: 410;
	width: 130;
	height: 35;
}

#infoButton {
	position: absolute;
	top: 371;
	left: 243;
	width: 156;
	height: 35;
}

#contbutton {
	position: absolute;
	top: 371;
	left: 410;
	width: 130;
	height: 35;
}

#title {
	position: absolute;
	top: 107;
	left: 60;
	width: 400;
	height: 26;
}

#info {
	position: absolute;
	top: 147;
	left: 60;
	width: 220;
	height: 218;
}

#info2 {
	position: absolute;
	top: 245;
	left: 60;
	width: 220;
	height: 150;
}

#ratingsTable {
	position: absolute;
	top: 145;
	left: 305;
	width: 250;
	height: 200;
}

#checkbox {
	position: absolute;
	top: 145;
	left: 304;
	width: 230;
	height: 100;
}

#limitButtons {
	position: absolute;
	top: 241;
	left: 304;
	width: 252;
	height: 27;
}

#important {
	position: absolute;
	top: 217;
	left: 306;
	width: 221;
	height: 88;
}

#MSNLogo {
	position: absolute;
	top: 7;
	left: 10;
	width: 87;
}
