#banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 560;
	height: 80;
}

#viewtitle {
	position: absolute;
	top: 107;
	left: 62;
	width: 199;
	height: 27;
}

#searchtitle {
	position: absolute;
	top: 246;
	left: 62;
	width: 226;
	height: 27;
}

#arrow1 {
	position: absolute;
	top: 136;
	left: 55;
	width: 32;
	height: 31;
}

#arrow2 {
	position: absolute;
	top: 164;
	left: 55;
	width: 32;
	height: 31;
}

#arrow3 {
	position: absolute;
	top: 192;
	left: 55;
	width: 32;
	height: 31;
}

#arrow4 {
	position: absolute;
	top: 274;
	left: 55;
	width: 32;
	height: 31;
}

#tvListingsView1 {
	position: absolute;
	top: 142;
	left: 92;
	width: 82;
	height: 20;
}

#tvListingsView2 {
	position: absolute;
	top: 170;
	left: 92;
	width: 168;
	height: 20;
}

#tvListingsView3 {
	position: absolute;
	top: 198;
	left: 92;
	width: 135;
	height: 20;
}

#search {
	position: absolute;
	top: 281;
	left: 92;
	width: 126;
	height: 38;
}

#tvwindow {
	position: absolute;
	top: 76;
	left: 345;
}

#browse {
	position: absolute;
	top: 234;
	left: 324;
	width: 215;
	height: 40;
}

#favoritesButton {
	visibility: hidden;

	position: absolute;
	top: 373;
	left: 215;
	width: 180;
	height: 35;
}

#donebutton {
	position: absolute;
	top: 373;
	left: 409;
	width: 130;
	height: 35;
}

#dishLogo {
	position: absolute;
	top: 295;
	left: 454;
}
