#headerText	 {
    position: absolute;
    top: 20;
    left: 17;
}

#headerGrad {
    position: absolute;
    top: 0;
    left: 0;
}

#headerRule {
    position: absolute;
    top: 108;
    left: 0;
}

#narrowText {
    position: absolute;
    top: 130;
    left: 25;
    width: 260;
}

#wideText {
    position: absolute;
    top: 130;
    left: 25;
    width: 340;
}

#mainImg {
    position: absolute;
    top: 130;
    left: 325;
}

#middleButton {
    position: absolute;
    top: 370;
    left: 265;
}

#rightButton {
    position: absolute;
    top: 370;
    left: 410;
}

